.services {
  padding: 2rem;
  margin: 2rem 0;
}
.services__heading {
  margin-top: 35px;
}
.title__font {
  font-size: 120%;
  font-weight: 600;
}
.service__card:hover,
.title__font:hover {
  transition: 0.4s ease-in;
  cursor: pointer;
}

.service__card {
  cursor: pointer;
}
