.teams {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.team__grid {
  background-color: white;
  width: 100%;
  margin-top: 22px;
}
.team__list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.team__list > li {
  /* color: black !important; */
  /* padding: 15px; */
  margin-right: 25px;
}

.team__list > li > a {
  color: gray;
  float: left;
  text-decoration: none;
  margin-bottom: 2px;
  font-weight: 600;
  font-family: MontserratRegular, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0 0 5px;
}

.team__list > li > a:hover {
  border-bottom: 4px solid #c70101;
}
.activegirls,
.activeboys {
  border-bottom: 4px solid #ebc86f;
  color: black !important;
}

.containerPlayer {
  float: left;
  /* min-width: 100%; */
  width: 100%;
}

.team__divide {
  background: #f9f9f9;
  height: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 212, 84, 0.5) !important;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgb(255, 255, 255, 0.5) !important;
}

.team__subNav {
}
.grid-12 {
  width: 100%;
  float: left;
}
.grid-12 > h1 {
  font-family: MontserratSemiBold, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  padding-bottom: 10px;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  color: #1a1a1a;
  border-bottom: 1px solid #d9d9d9;
  margin: 15px 0;
}

.player-card {
  width: 46%;
  float: left;
  margin-left: 2%;
  /* -webkit-mask-image: -webkit-radial-gradient(white, #000); */

  border: none;
  margin-right: 2%;
}
@media (min-width: 568px) {
  .grid-3 {
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
}

.card {
  top: 15px;
  margin: 5px;
  padding: 0px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px solid black;
}
.rowTeam {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 568px) {
  .player-card {
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media (min-width: 768px) {
  .player-card {
    width: 31.33333%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media (min-width: 1024px) {
  .player-card {
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
}

.player {
  position: absolute;
  bottom: 0;
  padding: 0 0 16px 20px;
  z-index: 1;
}
.player__Text {
  font-family: MontserratSemiBold, Helvetica, sans-serif;
  color: #fff;
  /* font-size: 19px; */
  font-size: 1rem;
  line-height: 16px;
  /* position: absolute; */
  bottom: 0;

  left: 15px;
  margin-bottom: 16px;
}
.player__Text::after {
  border-top: 2px solid #c81617;
  position: relative;
  width: 24px;
  bottom: -8px;
  left: 0;
  content: "";
}

.mu-item__firstname {
  font-size: 1.3rem;
  line-height: 21px;
  font-family: BebasNeueBold, Helvetica, sans-serif;
  color: #fff !important;
  width: 100%;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 1;
  float: left;
}

@media (max-width: 550px) {
  .mu-item__firstname {
    font-size: 1rem;
  }
}

.card-img {
  -webkit-border-radius: 8px;
}
.card-img:hover {
  transition: opacity 0.2s ease-out;
  transform: 3.8s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  box-shadow: 0 0 35px -2px rgba(0, 0, 0, 0.2);
}

/* Second table CSS */

.table-responsive {
  margin: 20px;
}
