.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@font-face {
  font-family: myFirstFont;
  src: url("../assets/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf");
}

.footer__banner {
  font-size: 2.222222222222222rem;
  padding-top: 57px;
  padding-bottom: 56px;
  text-align: center;
  border: 2px solid black;
  border-bottom: none;
  font-family: myFirstFont;
}
.footer__mainContent {
  /* margin-right: 40px; */
  padding: 20px;
}

.footer__centerContent {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  /* width: 100%; */
  width: fit-content;
}

.footer__centerContentP1 {
  font-family: "humanist_521_lightregular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
  line-height: 1.25;
  text-transform: uppercase;
}
.footer__centerContentP1 > p {
  margin: 0;
  padding: 8px 0 5px;
}

.footer__logo {
  margin: 20px;
  padding-bottom: 17px;
  width: 100px;
  display: flex;
  object-fit: contain;
}

.map {
  text-decoration: none;
  color: white;
}
.footer_data {
  display: flex;
  /* flex-direction: column; */

  font-family: "humanist_521_lightregular", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #000;
  border-top: 7px solid #ffa54b;
  overflow: hidden;
  align-items: center;
  position: relative;
  padding-left: 10px;
  padding: 0 35px;
}

.footer__centerContentCenter {
  border-left: 1px solid #656363;
  /* margin-top: 140px; */
  height: 100%;
  width: 27%;
}
li {
  text-decoration: none;
}

.footer__centerContentCenter > nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer__centerContentCenter > nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
  margin: 4px 10px 9px;
  line-height: 2.2em;
}
.footer__centerContentCenter > nav > ul > li {
  flex: 1;
}
.footer__centerContentCenter > nav > ul > li > a {
  color: white;
  font-weight: bold;
  font-family: "humanist_521bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.111111111111111;
  text-transform: uppercase;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
  color: white !important;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.footer__media {
  height: 100%;
  padding-left: 4%;
  /* margin-top: 140px; */
  /* height: 100%; */
  border-left: 1px solid #656363;

  width: 30%;
}

.media__symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.media__link {
  margin-right: 15px;
}

@media (max-width: 1100px) {
  .footer__centerContentCenter {
    display: none;
  }
}
@media (max-width: 890px) {
  .footer_data {
    padding: 0;
    flex-direction: column;
  }
  .footer__media {
    height: 100%;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
    border-left: none;
  }
  .media__symbols {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 19px;
  }
}

@media (max-width: 758px) {
  .footer__centerContent,
  .footer__banner {
    display: none;
  }
  .footer_data {
    margin-top: 32px;
  }
  .footer__mainContent {
    margin: 0;
  }
}

.subscribe {
  width: 100%;
  height: 30px;
  font-size: 15px;
  padding: 15px;
}
@media (max-width: 890px) {
  .subscribe {
    width: 50%;
  }
}

.subs {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 15px;

  justify-content: center;
}

.searchIcon {
  font-size: 20px;
  margin-left: 10px;
}
