@font-face {
  font-family: myFirstFont;
  src: url("../assets/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf");
}

.home__slider {
  background-color: #f8f8f8;
}

.home__youtube {
  background-color: #f8f8f8;
}

.home__inst {
  background-color: #f8f8f8;
  height: 100%;
}

.home__twitter {
  margin-top: 25px;
  margin-right: 15px;
}
.home__twitterCard {
  border-radius: 8px;
  margin-bottom: 50px;
}

.home__youtubeLink {
  /* margin-top: 45px; */
  font-size: 2rem;
  line-height: 0.88;
  font-family: myFirstFont;
  font-weight: 900;
  /* font-family: BebasNeueBold, Helvetica, sans-serif; */
  display: block;
  float: left;
  text-align: center;
}
.home__poster {
  height: 100px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.home__coachWord {
  /* background-color: white; */
  margin-top: 25px;
}

.home__quote {
  text-align: center;
  background-color: white;
  height: 150px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.home__quote > h1 {
  margin-top: 25px;
  font-size: 2rem;
  line-height: 0.88;
  font-family: "Bebas Neue", cursive;
  /* font-family: BebasNeueBold, Helvetica, sans-serif; */
  font-weight: 400;
  display: block;
  float: left;
  text-align: center;
}

.home__instRow {
  margin-right: 10px;
}

.center__feed {
  justify-content: center;
}

.overflow__feedInsta {
  overflow: auto;
  height: 459px;
  margin-top: 26px;
  /* overflow-y: scroll; */
}

@media (max-width: 700) {
  .home__twitterCard {
    margin-bottom: 0 !important;
  }
}

.home__smuWay {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.home__smuWay > img {
  object-fit: contain;
  width: 80vw;
  height: 86vh;
}

.home__voilence {
  display: flex;
  padding: 25px 40px;
  justify-content: space-evenly;
  background: #fff;
}

.home__voilenceCard {
  width: 80vw;
  display: flex;
  align-items: center;
}
.home__voilenceCardImg:hover {
  transform: scale(1.07);
}
.home__voilenceCardImg {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 13px rgba(0, 0, 0, 0.48);
  object-fit: contain;
  transition: transform 0.1s ease-in;
}
.home__voilenceDetail > h1 {
  font-family: "Bebas Neue", cursive;
  /* text-align: start !important; */
  font-size: 34px;
  font-family: myFirstFont;
  font-weight: 900;
  text-transform: uppercase;

  /* border-bottom: 1px solid #fff; */
}

.home__voilenceDetail > p > strong {
  font-family: myFirstFont;
  font-weight: 600;
}
.home__voilenceDetail > p {
  /* font-family: Roboto; */
  font-size: 18px;
  text-align: justify;
  padding: 11px 60px;
  /* font-family: "Roboto script=all rev=2"; */
  font-family: myFirstFont;
  font-weight: 400;
  font-style: normal;
}
.home__voilenceDetail {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

@media (max-width: 830px) {
  .home__voilence {
    flex-direction: column;
  }
  .home__voilenceCard {
    width: 30vw;
    align-self: center;
  }
  .home__voilenceDetail > p {
    padding: 11px 14px;
  }
}
