.home__slider {
  height: 100%;
}

.slider__container img {
  width: 100%;
  object-fit: contain !important;
  height: 80vh;
  /* height: 100%; */
  max-width: 100%;
  padding: 10px;
  outline: none !important;
}

@media (max-width: 510px) {
  .slider__container img {
    height: auto;
  }
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}
.slick-prev,
.slick-next {
  /* margin-left: 35px;  */
  margin-left: 25px;
  margin-right: 25px;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
}

.slick-dots > li {
  /* width: 80px; */
  /* height: 80px; */
  object-fit: contain;
}
.slick-dots {
  position: initial;
  margin-bottom: 10px;
}

.slider__as {
  display: flex !important;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.slider__as > img {
  height: 98px;
}

.slick-slider:focus {
  outline: none !important;
}

.home__slider > h1 {
  position: absolute;
  bottom: 0;
  right: 40%;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
