.youtube__Card {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: white; */
  align-items: center;
  padding-top: 25px;
}

.youtube__carding {
  flex: 1;
  margin-bottom: 15px;
  width: 400px;
  margin-right: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  border-radius: 25px;
  box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  border: 0 solid #000;
  transition: transform 0.3s ease-in;
}
.frame:hover {
  transform: scale(1.04);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 1);
}

@media (max-width: 665px) {
  .youtube__Card {
    flex-direction: column;
  }
  .youtube__carding {
    margin-right: 0;
    width: 100%;
  }
  .frame {
    width: 100%;
  }
}
