@font-face {
  font-family: myFirstFont;
  src: url("./assets/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf");
}
html,
body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  font-family: myFirstFont !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
