.zoom-wrapper > div {
  z-index: 0 !important;
}

.nav .default-nav {
  width: 15px !important;
  margin-left: 5px !important;
}

.slidershow {
  position: relative;
  height: 90vh;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 546px) {
  .slidershow {
    height: auto;
  }
}
