.home__carousel {
  height: 100%;
}
.slide > img {
  height: 80px;
}
.carousel-item > img {
  height: 100vh;
}
.slide-arrow {
  color: gray;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.image-slide {
  /* height: 100%;
  width: 100%; */
  /* transition: all 0.5s ease; */

}
